# Maven
**/target/

# H2 local db files
**/citizensDB*.db
**/*.mv.db
**/*.trace.db

# Eclipse/IDE
.settings/
.classpath
.project

# IntelliJ / VSCode /
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
