# Maven
**/target/

# Eclipse
.classpath
.project
.settings/
.metadata/

# IntelliJ (αν υπάρχει)
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# H2 database files
**/*.mv.db
**/*.trace.db
**/*.db

# Logs
**/*.log
